<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="administrativo-inicio" routerLinkActive="active" title="Página de inicio del administrativo">Inicio</a></li>
      <li><a routerLink="registrar-paciente" routerLinkActive="active" title="Registrar un nuevo paciente">Registrar Paciente</a></li>
      <li><a routerLink="buscar-paciente" routerLinkActive="active" title="Buscar un paciente existente">Buscar Paciente</a></li>
      <li><a routerLink="solicitar-consulta" routerLinkActive="active" title="Agendar una nueva consulta">Solicitar Consulta</a></li>
      <li><a routerLink="ver-consultas-programadas" routerLinkActive="active" title="Ver las consultas ya agendadas">Ver Consultas Programadas</a></li>
      <li><a routerLink="actualizar-informacion-paciente" routerLinkActive="active" title="Modificar la información de un paciente">Actualizar Información del Paciente</a></li>
      <li><a routerLink="historial-consultas" routerLinkActive="active" title="Historial de consultas del paciente">Historial de Consultas</a></li>
      <li><a routerLink="notificaciones" routerLinkActive="active" title="Ver notificaciones sobre consultas, citas, y más">Notificaciones</a></li>
      <li><a routerLink="documentos-paciente" routerLinkActive="active" title="Gestión de documentos importantes del paciente">Documentos del Paciente</a></li>
      <li><a routerLink="reportes" routerLinkActive="active" title="Generar y descargar reportes">Reportes</a></li>
    </ul>
  </aside>
  

  <div class="content">
    <!-- Aquí se cargarán las páginas como "Registrar Paciente" y "Buscar Paciente" -->
    <router-outlet></router-outlet>
  </div>
</div>
