<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="administrativo-inicio" routerLinkActive="active" title="Página de inicio del administrativo">Inicio</a></li>
      <li><a routerLink="registrar-paciente" routerLinkActive="active" title="Registrar un nuevo paciente">Registrar Paciente</a></li>
      <li><a routerLink="buscar-paciente" routerLinkActive="active" title="Buscar un paciente registrado">Buscar Paciente</a></li>
      <li><a routerLink="pacientes" routerLinkActive="active" title="Ver todos los pacientes">Ver Pacientes</a></li>
    </ul>
  </aside>

  <div class="content">
    <!-- Aquí se cargarán las páginas como "Registrar Paciente" y "Buscar Paciente" -->
    <router-outlet></router-outlet>
  </div>
</div>
