<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="administrativo-inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="registrar-paciente" routerLinkActive="active">Registrar Paciente</a></li>
      <li><a routerLink="buscar-paciente" routerLinkActive="active">Buscar Paciente</a></li>
    </ul>
  </aside>

  <div class="content">
    <!-- Aquí se cargarán las páginas como "Registrar Paciente" y "Buscar Paciente" -->
    <router-outlet></router-outlet>
  </div>
</div>
