/* Sección principal */
.consultas-section {
<<<<<<< HEAD
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(228, 224, 224); /* Fondo similar a la tabla de pacientes */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.1); /* Sombra para dar un efecto elevado */
}

h2 {
  font-size: 34px;
  color: #333;
  margin-bottom: 20px;
}

.error-message {
  color: #d9534f;
  font-weight: bold;
  margin-bottom: 15px;
=======
  padding: 16px;
  background-color: #f1f1f1;
  border-radius: 8px;
>>>>>>> 6e02e08d2133b6cc05c07465522b41a4a4a90fb5
}

/* Tabla */
.consultas-table {
  width: 100%;
  border-collapse: collapse;
<<<<<<< HEAD
  margin-bottom: 20px;
  border-radius: 5px;
=======
  margin-bottom: 16px;
>>>>>>> 6e02e08d2133b6cc05c07465522b41a4a4a90fb5
}

.consultas-table th, 
.consultas-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
<<<<<<< HEAD
  border: 1px solid #ccc; /* Similar borde a la tabla de pacientes */
}

.consultas-table th {
  background-color: #0078d4; /* Color azul en el encabezado */
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.consultas-table td {
  background-color: rgb(228, 224, 224); /* Fondo gris claro para las celdas */
  color: #333;
}

.consultas-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.consultas-table tr:hover {
  background-color: #f1f1f1;
}

.action-btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px; /* Botones con bordes redondeados */
=======
}

.consultas-table th {
  background-color: #4CAF50;
  color: white;
}

/* Botones */
button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
>>>>>>> 6e02e08d2133b6cc05c07465522b41a4a4a90fb5
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Formulario de evaluación */
.evaluation-form {
<<<<<<< HEAD
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.evaluation-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

.evaluation-form .form-group {
  margin-bottom: 10px;
}

.evaluation-form label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.evaluation-form select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
=======
  margin-top: 16px;
  padding: 16px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
>>>>>>> 6e02e08d2133b6cc05c07465522b41a4a4a90fb5
}

.form-group {
  margin-top: 10px;
}

select {
  padding: 6px;
  margin-right: 10px;
}
