<div class="historial-altas-section">
  <h2>Historial de Altas</h2>
  <main>
    <app-search-box
      [searchOptions]="[
        { label: 'ID Historial', value: 'IdHistorial' },
        { label: 'ID Paciente', value: 'IdPaciente' },
        { label: 'Fecha de Alta', value: 'FechaAlta' },
        { label: 'Diagnóstico', value: 'Diagnostico' },
        { label: 'Tratamiento', value: 'Tratamiento' }
      ]"
      [defaultSearchType]="'IdHistorial'" placeholder="Escribe para buscar..." (search)="filtrarHistoriales($event)">
    </app-search-box>

    <div class="table-container">
      <table mat-table [dataSource]="historialAltas" matSort class="mat-elevation-z8">
        <!-- Columna ID Historial -->
        <ng-container matColumnDef="IdHistorial">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Historial</th>
          <td mat-cell *matCellDef="let historial">{{ historial.IdHistorial }}</td>
        </ng-container>

        <!-- Columna ID Paciente -->
        <ng-container matColumnDef="IdPaciente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Paciente</th>
          <td mat-cell *matCellDef="let historial">{{ historial.IdPaciente }}</td>
        </ng-container>

        <!-- Columna Fecha de Alta -->
        <ng-container matColumnDef="FechaAlta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Alta</th>
          <td mat-cell *matCellDef="let historial">{{ historial.FechaAlta | date }}</td>
        </ng-container>

        <!-- Columna Diagnóstico -->
        <ng-container matColumnDef="Diagnostico">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Diagnóstico</th>
          <td mat-cell *matCellDef="let historial">{{ historial.Diagnostico }}</td>
        </ng-container>

        <!-- Columna Tratamiento -->
        <ng-container matColumnDef="Tratamiento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tratamiento</th>
          <td mat-cell *matCellDef="let historial">{{ historial.Tratamiento }}</td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let historial">
            <button mat-button (click)="toggleActualizarHistorialAlta(historial)">Actualizar</button>
            <button mat-button color="warn" (click)="borrarHistorialAlta(historial.IdHistorial)">Borrar</button>
          </td>
        </ng-container>

        <!-- Header de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Filas de la tabla -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Paginación -->
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    </div>

    <!-- Formulario para agregar y actualizar -->
    <div class="form-container" *ngIf="historialAltaParaActualizar">
      <h3>Actualizar Historial de Alta</h3>
      <form [formGroup]="historialAltaForm" (ngSubmit)="actualizarHistorialAlta()">
        <div class="label-container"><label for="idPaciente">ID Paciente </label><span class="required">*</span></div>
        <input type="number" id="idPaciente" formControlName="IdPaciente" name="idPaciente" readonly>
        <div *ngIf="historialAltaForm.get('IdPaciente')?.hasError('required') && historialAltaForm.get('IdPaciente')?.touched">
          <span class="error"> El Id de paciente es obligatorio.</span>
        </div>
        <div *ngIf="historialAltaForm.get('IdPaciente')?.hasError('patientIdNotFound')">
          <span class="error"> El Id de paciente no existe.</span>
        </div>
        
        <div class="label-container"><label for="fechaAlta">Fecha alta </label><span class="required">*</span></div>
        <input type="date" id="fechaAlta" formControlName="FechaAlta" name="fechaAlta">
        <div *ngIf="historialAltaForm.get('FechaAlta')?.hasError('required') && historialAltaForm.get('FechaAlta')?.touched">
          <span class="error"> La fecha de alta es obligatoria.</span>
        </div>

        <div class="label-container"><label for="diagnostico">Diagnóstico </label><span class="required">*</span></div>
        <input type="text" id="diagnostico" formControlName="Diagnostico" name="diagnostico">
        <div *ngIf="historialAltaForm.get('Diagnostico')?.hasError('required') && historialAltaForm.get('Diagnostico')?.touched">
          <span class="error">El diagnostico es obligatorio.</span>
        </div>

        <div class="label-container"><label for="tratamiento">Tratamiento </label><span class="required">*</span></div>
        <input type="text" id="tratamiento" formControlName="Tratamiento" name="tratamiento">
        <div *ngIf="historialAltaForm.get('Tratamiento')?.hasError('required') && historialAltaForm.get('Tratamiento')?.touched">
          <span class="error">El tratamiento es obligatorio.</span>
        </div>

        <button type="submit" [disabled]="historialAltaForm.invalid">Actualizar</button>
      </form>
    </div>

    <div class="form-container">
      <h3>Agregar Historial de Alta</h3>
      <form [formGroup]="historialAltaForm" (ngSubmit)="agregarHistorialAlta()">
        <div class="label-container"><label for="idPaciente">ID Paciente </label><span class="required">*</span></div>
        <input type="number" id="idPaciente" formControlName="IdPaciente" name="idPaciente">
        <div *ngIf="(historialAltaForm.get('IdPaciente')?.hasError('required')) && historialAltaForm.get('IdPaciente')?.touched">
          <span class="error"> El Id del paciente es obligatorio.</span>
        </div>
        <div *ngIf="historialAltaForm.get('IdPaciente')?.hasError('consultaNotFound') && historialAltaForm.get('IdPaciente')?.touched">
          <span class="error"> El Id del paciente no tiene ninguna consulta asociada. </span>
        </div>
        <div *ngIf="historialAltaForm.get('IdPaciente')?.hasError('patientIdNotFound') && historialAltaForm.get('IdPaciente')?.touched">
          <span class="error"> El Id de paciente no existe.</span>
        </div>
        
        <div class="label-container"><label for="fechaAlta">Fecha alta </label><span class="required">*</span></div>
        <input type="date" id="fechaAlta" formControlName="FechaAlta" name="fechaAlta">
        <div *ngIf="historialAltaForm.get('FechaAlta')?.hasError('required') && historialAltaForm.get('FechaAlta')?.touched">
          <span class="error"> La fecha de alta es obligatoria.</span>
        </div>

        <div class="label-container"><label for="diagnostico">Diagnóstico </label><span class="required">*</span></div>
        <input type="text" id="diagnostico" formControlName="Diagnostico" name="diagnostico">
        <div *ngIf="(historialAltaForm.get('Diagnostico')?.hasError('required') || (historialAltaForm.get('Diagnostico')?.hasError('whitespace'))) && historialAltaForm.get('Diagnostico')?.touched">
          <span class="error">El diagnostico es obligatorio.</span> 
        </div>

        <div class="label-container"><label for="tratamiento">Tratamiento </label><span class="required">*</span></div>
        <input type="text" id="tratamiento" formControlName="Tratamiento" name="tratamiento">
        <div *ngIf="(historialAltaForm.get('Tratamiento')?.hasError('required') || (historialAltaForm.get('Tratamiento')?.hasError('whitespace'))) && historialAltaForm.get('Tratamiento')?.touched">
          <span class="error">El tratamiento es obligatorio.</span>
        </div>

        <button type="submit" [disabled]="historialAltaForm.invalid">Agregar</button>
      </form>
    </div>
  </main>
</div>
