<div class="historial-altas-section">
  <h2>Historial de Altas</h2>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>ID Historial</th>
          <th>ID Paciente</th>
          <th>Fecha de Alta</th>
          <th>Diagnóstico</th>
          <th>Tratamiento</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let historialAlta of historialAltas">
          <td>{{ historialAlta.idHistorial }}</td>
          <td>{{ historialAlta.idPaciente }}</td>
          <td>{{ historialAlta.fechaAlta | date: 'shortDate' }}</td>
          <td>{{ historialAlta.diagnostico }}</td>
          <td>{{ historialAlta.tratamiento }}</td>
          <td>
            <button (click)="toggleActualizarHistorialAlta(historialAlta)">Actualizar</button>
            <button (click)="borrarHistorialAlta(historialAlta.idHistorial)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-container" *ngIf="historialAltaParaActualizar">
    <h3>Actualizar Historial de Alta</h3>
    <form (ngSubmit)="actualizarHistorialAlta()">
      <label for="idHistorial">ID Historial:</label>
      <input type="number" id="idHistorial" [(ngModel)]="historialAltaParaActualizar.idHistorial" name="idHistorial" disabled>
      <label for="idPaciente">ID Paciente:</label>
      <input type="number" id="idPaciente" [(ngModel)]="historialAltaParaActualizar.idPaciente" name="idPaciente">
      <label for="fechaAlta">Fecha de Alta:</label>
      <input type="date" id="fechaAlta" [(ngModel)]="historialAltaParaActualizar.fechaAlta" name="fechaAlta">
      <label for="diagnostico">Diagnóstico:</label>
      <input type="text" id="diagnostico" [(ngModel)]="historialAltaParaActualizar.diagnostico" name="diagnostico">
      <label for="tratamiento">Tratamiento:</label>
      <input type="text" id="tratamiento" [(ngModel)]="historialAltaParaActualizar.tratamiento" name="tratamiento">
      <button type="submit">Guardar</button>
    </form>
  </div>

  <div class="form-container">
    <h3>Agregar Historial de Alta</h3>
    <form (ngSubmit)="agregarHistorialAlta()">
      <label for="idPaciente">ID Paciente:</label>
      <input type="number" id="idPaciente" [(ngModel)]="nuevoHistorialAlta.idPaciente" name="idPaciente">
      <label for="fechaAlta">Fecha de Alta:</label>
      <input type="date" id="fechaAlta" [(ngModel)]="nuevoHistorialAlta.fechaAlta" name="fechaAlta">
      <label for="diagnostico">Diagnóstico:</label>
      <input type="text" id="diagnostico" [(ngModel)]="nuevoHistorialAlta.diagnostico" name="diagnostico">
      <label for="tratamiento">Tratamiento:</label>
      <input type="text" id="tratamiento" [(ngModel)]="nuevoHistorialAlta.tratamiento" name="tratamiento">
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
