<div class="roles-section">
  <h2>Roles</h2>
  <app-snackbar #snackbar></app-snackbar>

  <app-search-box [searchOptions]="[
      { label: 'Nombre', value: 'nombreRol' },
      { label: 'ID', value: 'id' }
    ]" [defaultSearchType]="'nombreRol'" placeholder="Escribe para buscar..." (search)="filtrarRoles($event)">
  </app-search-box>

  <!-- Tabla de Angular Material -->
  <div class="table-container">
    <table mat-table [dataSource]="roles" matSort class="mat-elevation-z8">

      <!-- Columna ID -->
      <ng-container matColumnDef="IdRol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Rol</th>
        <td mat-cell *matCellDef="let rol">{{ rol.IdRol }}</td>
      </ng-container>

      <!-- Columna Nombre -->
      <ng-container matColumnDef="NombreRol">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Rol</th>
        <td mat-cell *matCellDef="let rol">{{ rol.NombreRol }}</td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let rol">
          <button mat-button (click)="onEdit(rol)">Actualizar</button>
          <button mat-button color="warn" (click)="onDelete(rol)">Eliminar</button>
        </td>
      </ng-container>

      <!-- Header de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Filas de la tabla -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginación -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>

  <!-- Formulario de Agregar Rol -->
  <mat-card>
    <form [formGroup]="agregarRolForm" (ngSubmit)="agregarRol()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre del Rol</mat-label>
        <input matInput formControlName="NombreRol" />
        <mat-error *ngIf="agregarRolForm.get('NombreRol')?.hasError('required')">
          El nombre es requerido.
        </mat-error>
        <mat-error *ngIf="agregarRolForm.get('NombreRol')?.hasError('nombreRolExiste')">
          El rol ya existe.
        </mat-error>
        <!-- Mensaje de error si el campo está vacío o contiene solo espacios -->
        <mat-error
          *ngIf="agregarRolForm.get('NombreRol')?.hasError('whitespace') && agregarRolForm.get('NombreRol')?.touched">
          El campo no puede estar vacío o contener solo espacios.
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="agregarRolForm.invalid">
          Agregar
        </button>
        <button mat-button type="button" (click)="descartarCambios('agregar')">Cancelar</button>
      </div>
    </form>
  </mat-card>

</div>
