.roles-section {
  font-family: Arial, sans-serif;
  font-family: Arial, sans-serif;
  margin: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.search-container form {
  display: inline-block; /* Alinea los elementos del formulario en una fila */
  margin-left: 15px;
}

.search-container label,
.search-container select,
.search-container input {
  display: inline-block; /* Asegura que los elementos estén alineados horizontalmente */
  margin-right: 10px; /* Espacio entre los elementos */
}

.search-container select {
  width: 150px; /* Ancho para el selector */
  padding: 5px;
}

.search-container input {
  width: 200px; /* Ancho para el campo de texto */
  padding: 5px;
}
.vr {
  border-left: var(--vr-border-width, 1px) solid black; /* Usa la variable, con un valor por defecto */
  height: 17px;
}
.search-group {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  }

.search-group select,
.search-group input {
  border: 5px;

  padding: 5px;
  font-size: 14px;
}

.search-group input {
  width: 250px;
}

/* Contenedor para la tabla */
.table-container,
.form-container {
  background-color: rgb(228, 224, 224);
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
  padding: 10px;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.1);
  margin-bottom: 20px;
  padding-bottom: 2.5px;
}
.form-container {
  padding-bottom: 10px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

.table,
th,
td {
  border: 1px solid #ccc;
  white-space: nowrap;
}

th,
td {
  padding: 6px 8px;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 6px 8px;
  border: 1px solid #ccc;
  overflow: hidden;
}

th {
  background-color: #0078d4;
  color: rgb(19, 19, 19);
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056a3;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"],
input[type="date"],
input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  align-self: flex-start;
  background-color: #0078d4;
  color: white;
}

button[type="submit"]:hover {
  background-color: #0056a3;
}
