<div class="ingresos-section">
    <h2>Ingresos</h2>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>ID Ingreso</th>
            <th>ID Paciente</th>
            <th>ID Médico</th>
            <th>Motivo de Ingreso</th>
            <th>Fecha de Solicitud</th>
            <th>Fecha de Ingreso</th>
            <th>Estado</th>
            <th>Cama</th>
             
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ingreso of ingresos">
            <td>{{ ingreso.IdIngreso }}</td>
            <td>{{ ingreso.IdPaciente }}</td>
            <td>{{ ingreso.IdMedico }}</td>
            <td>{{ ingreso.Motivo }}</td>
            <td>{{ ingreso.FechaSolicitud | date:'dd/MM/yyyy HH:mm\'h\'' }}</td>
            <td>{{ ingreso.FechaIngreso | date:'dd/MM/yyyy HH:mm\'h\'' }}</td>
            <td>{{ ingreso.Estado }}</td>
            <td>{{ ingreso.TipoCama }}</td>
            <td>
              <button (click)="toggleActualizarIngreso(ingreso)">Actualizar</button>
              <button (click)="borrarIngreso(ingreso.IdIngreso)">Borrar</button>
            </td>
          </tr>
          <tr *ngIf="ingresoParaActualizar">
            <td colspan="7">
              <div class="form-container">
                <h3>Actualizar Ingreso</h3>
                <form [formGroup]="ingresoForm"  (ngSubmit)="actualizarIngreso()">
                  <label for="idPaciente">ID Paciente:</label>
                  <input type="number" id="idPaciente" formControlName="IdPaciente" name="idPaciente">
                  <label for="idMedico">ID Médico:</label>
                  <input type="number" id="idMedico" formControlName="IdMedico" name="idMedico" required>
                  <label for="motivo">Motivo:</label>
                  <input type="text" id="motivo" formControlName="Motivo" name="motivo" required>
                  <label for="fechaSolicitud">Fecha de Solicitud:</label>
                  <input type="date" id="fechaSolicitud" formControlName="FechaSolicitud" name="fechaSolicitud" required>
                  <label for="fechaIngreso">Fecha de FechaIngreso:</label>
                  <input type="date" id="fechaIngreso" formControlName="FechaIngreso" name="fechaIngreso" required>
                  <label for="estado">Estado:</label>
                  <input type="text" id="estado" formControlName="Estado" name="estado" required>
                  <button type="submit">Guardar</button>
                </form>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="form-container">
      <h3>Agregar Ingreso</h3>
      <form [formGroup]="ingresoForm"  (ngSubmit)="agregarIngreso()">
        <label for="idPaciente">Paciente:</label>
        <select formControlName="IdPaciente" required>
          <option [value]="0" disabled>Selecciona un paciente</option>
          @for (paciente of pacientes; track paciente.IdPaciente) {
            <option [value]="paciente.IdPaciente">{{paciente.Nombre}}</option>
          }
        </select>
        <label for="idMedico">Médico:</label>
        <select formControlName="IdMedico" required>
          <option [value]="0" disabled>Selecciona un médico</option>
          @for (medico of medicos; track medico.IdUsuario) {
            <option [value]="medico.IdUsuario">{{medico.Nombre}}</option>
          }
        </select>
        <label for="motivo">Motivo de Ingreso:</label>
        <input type="text" id="motivo" formControlName="Motivo" name="motivo" required>
        <label for="fechaSolicitud">Fecha de Solicitud:</label>
        <input type="date" id="fechaSolicitud" formControlName="FechaSolicitud" name="fechaSolicitud" required>
        <label for="estado">Estado:</label>
        <select formControlName="Estado" required>
          <option [value]="0" disabled>Escoge un estado</option>
          @for (estado of estados; track estado.value) {
            <option [value]="estado.label">{{estado.label}}</option>
          }
        </select>
        <label for="tipoCama">Tipo cama:</label>
        <select formControlName="TipoCama" required>
          <option [value]="0" disabled>Escoge un tipo de cama</option>
          @for (tipo of tipos; track tipo.value) {
            <option [value]="tipo.label">{{tipo.label}}</option>
          }
        </select>
        <button type="submit">Agregar</button>
      </form>
    </div>
  </div>
  