<div class="dashboard-container">
  <header class="header">
    <div class="header-content">
      <h1>Administrativo Hospital</h1>
      <div class="user-info">
        <span>Admin. Laura García</span>
        <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </header>

 <nav class="navbar">
    <ul>
      <li><a routerLink="pacientes" class="nav-link">Pacientes</a></li>
      <li><a routerLink="altas" class="nav-link">Altas</a></li>
      <li>
        <a routerLink="asignaciones" class="nav-link"
          >Asignaciones</a
        >
      </li>
    </ul>
  </nav>

  <div class="content">
    <div class="register-section">
      <h2>Registrar Nuevo Paciente</h2>
      <button class="toggle-btn" (click)="toggleSection('register-form')">
        Mostrar/Ocultar Formulario
      </button>
      <form
        id="register-form"
        (submit)="registerPatient($event)"
        style="display: none"
      >
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            required
            placeholder="Nombre del paciente"
          />
        </div>
        <div class="form-group">
          <label for="edad">Edad</label>
          <input
            type="number"
            id="edad"
            name="edad"
            required
            placeholder="Edad del paciente"
          />
        </div>
        <div class="form-group">
          <label for="fecha-nacimiento">Fecha de Nacimiento</label>
          <input
            type="date"
            id="fecha-nacimiento"
            name="fecha-nacimiento"
            required
          />
        </div>
        <div class="form-group">
          <label for="sintomas">Síntomas</label>
          <textarea
            id="sintomas"
            name="sintomas"
            required
            placeholder="Síntomas del paciente"
          ></textarea>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <input
            type="text"
            id="estado"
            name="estado"
            value="Pendiente de cama"
            required
          />
        </div>
        <div class="form-group">
          <label for="seguridad-social">Número de Seguridad Social</label>
          <input
            type="text"
            id="seguridad-social"
            name="seguridad-social"
            required
            placeholder="Número de Seguridad Social"
          />
        </div>
        <div class="form-group">
          <label for="direccion">Dirección</label>
          <input
            type="text"
            id="direccion"
            name="direccion"
            required
            placeholder="Dirección del paciente"
          />
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input
            type="text"
            id="telefono"
            name="telefono"
            required
            placeholder="Teléfono de contacto"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Correo electrónico"
          />
        </div>
        <div class="form-group">
          <label for="historial-medico">Historial Médico</label>
          <textarea
            id="historial-medico"
            name="historial-medico"
            required
            placeholder="Historial médico del paciente"
          ></textarea>
        </div>
        <button type="submit" class="submit-btn">Registrar Paciente</button>
      </form>
    </div>
    <div class="overview-section">
      <div class="content">
        <div class="statistics-section">
          <h2>Estadísticas</h2>
          <div class="charts">
            <div class="chart-container">
              <canvas id="patientHealthStatusChart"></canvas>
            </div>
            <div class="chart-container">
              <canvas id="dailyAdmissionsDischargesChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
