
<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="controlador-camas-inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="asignar-cama" routerLinkActive="active" title="Ver solicitudes de ingreso y asignar camas">Asignar Cama</a></li>
      <li><a routerLink="estado-camas" routerLinkActive="active" title="Ver el estado actual de las camas (ocupadas/disponibles)">Estado de Camas</a></li>
    </ul>
  </aside>

  <div class="content">
    <!-- Aquí se cargarán las páginas como "Registrar Paciente" y "Buscar Paciente" -->
    <router-outlet></router-outlet>
  </div>
</div>