
<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="controlador-camas-inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="asignar-cama" routerLinkActive="active" title="Ver solicitudes de ingreso y asignar camas">Asignar Cama</a></li>
      <li><a routerLink="estado-camas" routerLinkActive="active" title="Ver el estado actual de las camas (ocupadas/disponibles)">Estado de Camas</a></li>
      <li><a routerLink="historial-pacientes-ingresados" routerLinkActive="active" title="Ver los pacientes ingresados y su historial de camas">Historial de Pacientes Ingresados</a></li>
      <li><a routerLink="liberar-cama" routerLinkActive="active" title="Gestionar la liberación de camas tras el alta de un paciente">Liberar Cama</a></li>
      <li><a routerLink="alertas-disponibilidad" routerLinkActive="active" title="Mostrar alertas cuando haya escasez de camas o alta ocupación">Alertas de Disponibilidad</a></li>
      <li><a routerLink="historial-movimientos-camas" routerLinkActive="active" title="Ver el historial completo de las camas (usos y movimientos)">Historial de Movimientos de Camas</a></li>
      <li><a routerLink="camas-mantenimiento" routerLinkActive="active" title="Gestionar camas en mantenimiento o fuera de servicio">Camas en Mantenimiento</a></li>
      <li><a routerLink="asignar-prioridades" routerLinkActive="active" title="Asignar prioridades a las solicitudes de camas en emergencias">Asignar Prioridades</a></li>
    </ul>
  </aside>

  <div class="content">
    <!-- Aquí se cargarán las páginas como "Registrar Paciente" y "Buscar Paciente" -->
    <router-outlet></router-outlet>
  </div>
</div>