<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="camas" routerLinkActive="active">Gestión de Camas</a></li>
      <li><a routerLink="asignaciones" routerLinkActive="active">Gestión de Asignaciones</a></li>
      <li><a routerLink="habitaciones" routerLinkActive="active">Gestión de Habitaciones</a></li>
      <li><a routerLink="historial-altas" routerLinkActive="active">Historial de Altas</a></li>
      <li><a routerLink="pacientes" routerLinkActive="active">Gestión de Pacientes</a></li>
      <li><a routerLink="roles" routerLinkActive="active">Gestión de Roles</a></li>
      <li><a routerLink="usuarios" routerLinkActive="active">Gestión de Usuarios</a></li>

    </ul>
  </aside>

  <div class="content">

    <!-- Aquí se cargarán las páginas dinámicas -->
    <router-outlet></router-outlet>
  </div>
</div>
