<div class="dashboard-layout">
  <aside class="sidebar">
    <ul>
      <li><a routerLink="administrador-sistema-inicio" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="gestion-usuarios" routerLinkActive="active"title="Crear, modificar, desactivar o eliminar cuentas de usuarios">Gestión de Usuarios</a></li>
      <li><a routerLink="gestion-roles" routerLinkActive="active"title="Asignar y modificar roles de usuario (personalizados, permisos, etc.)">Gestión de Roles</a></li>
      <li><a routerLink="auditoria-actividades" routerLinkActive="active"title="Registro de actividades de usuarios en el sistema">Auditoría de Actividades</a></li>
      <li><a routerLink="gestion-permisos" routerLinkActive="active"title="Configurar permisos y acceso según el rol de usuario">Gestión de Permisos</a></li>
      <li><a routerLink="monitorizacion-sistema" routerLinkActive="active"title="Visualización del estado de los servidores y rendimiento">Monitorización del Sistema</a></li>
      <li><a routerLink="gestion-cuentas-pacientes" routerLinkActive="active"title="Ver, modificar o eliminar cuentas de pacientes">Gestión de Cuentas de Pacientes</a></li>
      <li><a routerLink="configuracion-sistema" routerLinkActive="active"title="Configurar parámetros globales como horarios y unidades">Configuración del Sistema</a></li>
      <li><a routerLink="notificaciones-alertas-sistema" routerLinkActive="active"title="Configurar y visualizar alertas automáticas del sistema">Notificaciones y Alertas del Sistema</a></li>
      <li><a routerLink="logs-acceso-errores" routerLinkActive="active"title="Registro de accesos, intentos fallidos y errores">Logs de Acceso y Errores</a></li>
      <li><a routerLink="estadisticas-uso" routerLinkActive="active"title="Visualización de datos sobre el uso del sistema por usuarios">Estadísticas de Uso</a></li>
      <li><a routerLink="gestion-mantenimiento" routerLinkActive="active"title="Programar o visualizar tareas de mantenimiento del sistema">Gestión de Mantenimiento</a></li>
      <li><a routerLink="gestion-notificaciones-globales" routerLinkActive="active"title="Enviar mensajes o alertas globales a usuarios">Gestión de Notificaciones Globales</a></li>
      <li><a routerLink="configuracion-seguridad" routerLinkActive="active"title="Definir políticas de seguridad y contraseñas del sistema">Configuración de Seguridad</a></li>
    </ul>
  </aside>

  <div class="content">
    <!-- Aquí se cargarán las páginas dinámicas -->
    <router-outlet></router-outlet>
  </div>
</div>