.search-container form {
  display: inline-block; /* Alinea los elementos del formulario en una fila */
}

.search-container label,
.search-container select,
.search-container input {
  display: inline-block; /* Asegura que los elementos estén alineados horizontalmente */
  margin-right: 10px; /* Espacio entre los elementos */
}

.search-container select {
  width: 150px; /* Ancho para el selector */
  padding: 5px;
}

.search-container input {
  width: 200px; /* Ancho para el campo de texto */
  padding: 5px;
}
.search-group {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  border: 1px solid #ccc; /* Borde para el recuadro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 5px;
  gap: 5px; /* Espacio entre el select y el input */
  background-color: white; /* Color de fondo */
}
.select {
  border-right: 1px solid black;
}
.search-group select,
.search-group input {
  border: none; /* Elimina los bordes de los elementos internos */
  background-color: transparent; /* Hace que el fondo sea transparente */
  padding: 5px;
  font-size: 14px;
}

.search-group select {
  width: 150px; /* Ancho fijo del select */
}

.search-group input {
  flex-grow: 1; /* Hace que el input ocupe el espacio restante */
}
