<div class="usuarios-section">
  <h2>Usuarios</h2>
  <!-- Caja de búsqueda -->
  <div class="search-container">
    <label for="search">Buscar Usuario por Nombre:</label>
    <input
      type="text"
      id="search"
      placeholder="Escribe para buscar..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="filtrarUsuarios()"
    />
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>ID Usuario</th>
          <th>Nombre</th>
          <th>Nombre Usuario</th>
          <th>Contraseña</th>
          <th>ID Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.IdUsuario }}</td>
          <td>{{ usuario.Nombre }}</td>
          <td>{{ usuario.NombreUsuario }}</td>
          <td>
            <span
              [ngClass]="{
                'hidden-text': !mostrarContrasenas[usuario.IdUsuario]
              }"
            >
              {{ usuario.Contrasenya }}
            </span>
            <button
              class="password"
              (mousedown)="mostrarContrasena(usuario.IdUsuario)"
              (mouseup)="ocultarContrasena(usuario.IdUsuario)"
              (mouseleave)="ocultarContrasena(usuario.IdUsuario)"
            >
              👁️
            </button>
          </td>
          <td>{{ usuario.IdRol }}</td>
          <td>
            <button (click)="toggleActualizarUsuario(usuario)">
              Actualizar
            </button>
            <button (click)="borrarUsuario(usuario.IdUsuario)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-container" *ngIf="usuarioParaActualizar">
    <h3>Actualizar Usuario</h3>
    <form (ngSubmit)="actualizarUsuario()">
      <label for="idUsuario">ID Usuario:</label>
      <input
        type="number"
        id="idUsuario"
        [(ngModel)]="usuarioParaActualizar.IdUsuario"
        name="idUsuario"
        disabled
      />
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="usuarioParaActualizar.Nombre"
        name="nombre"
      />
      <label for="nombreUsuario">Nombre Usuario:</label>
      <input
        type="text"
        id="nombreUsuario"
        [(ngModel)]="usuarioParaActualizar.NombreUsuario"
        name="nombreUsuario"
      />
      <label for="contrasenya">Contraseña:</label>
      <input
        type="password"
        id="contrasenya"
        [(ngModel)]="usuarioParaActualizar.Contrasenya"
        name="contrasenya"
      />
      <label for="idRol">ID Rol:</label>
      <input
        type="number"
        id="idRol"
        [(ngModel)]="usuarioParaActualizar.IdRol"
        name="idRol"
      />
      <div class="botones">
        <button type="submit">Guardar</button>
        <button type="button" (click)="cancelarActualizarUsuario()">
          Cancelar
        </button>
      </div>
    </form>
  </div>

  <div class="form-container">
    <h3>Agregar Usuario</h3>
    <form (ngSubmit)="agregarUsuario()">
      <label for="nombre">Nombre completo:</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="nuevoUsuario.Nombre"
        name="nombre"
        required
      />
      <label for="nombreUsuario">Nombre de usuario:</label>
      <input
        type="text"
        id="nombreUsuario"
        [(ngModel)]="nuevoUsuario.NombreUsuario"
        name="nombreUsuario"
        required
      />
      <label for="contrasenya">Contraseña:</label>
      <input
        type="password"
        id="contrasenya"
        [(ngModel)]="nuevoUsuario.Contrasenya"
        name="contrasenya"
        required
      />
      <label for="idRol">Rol:</label>
      <select [(ngModel)]="nuevoUsuario.IdRol" name="idRol" required>
        <option [value]="0" disabled>Selecciona un rol</option>
        <option *ngFor="let rol of roles" [value]="rol.IdRol">
          {{ rol.NombreRol }}
        </option>
      </select>
      <div class="botones">
        <button type="submit">Guardar</button>
        <button type="button" (click)="cancelarNuevoUsuario()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
