.footer {
  background-color: #D9D9D9;
  color: black;
  padding: 10px 0;
  text-align: center;
  flex-shrink: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.footer-section {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.footer-section h3, .footer-section h5 {
  margin: 5px 0 15px;
  font-size: 0.7rem;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  text-decoration: none;
  line-height: 1.6;
  margin: 0;
  font-size: 0.7rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-bottom {
  font-size: 0.7rem;
}

.footer-brand {
  text-align: center;
  width: 150px;
  height: 150px;
  background-image: url('../../assets/images/logo2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 40px ;
}

.links ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 90px;
  font-weight: bold;
}

address {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 10px;
}

.map {
  width: 75px;
  height: 150px;
  margin: 40px ;
  background-image: url('../../assets/images/mapa.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
}
